body, h1, h2, p, button, div{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, sans-serif;
    line-height:1.6;
    background-color:#000000;
}

header,footer{
    background:#000000;
    color:#ffffff;
    text-align:center;
    padding: 10px;
}

main{
    padding:20px;
    text-align:center;
}

#magic-8-ball{
    border:1px solid #ffffff;
    padding:5px;
    margin:10px auto;
    background-color:#ffffff;
    width:300px;
    border-radius:5px;
}

button{
    padding: 10px 20px;
    border:none;
    background-color:rgb(154, 34, 184);
    color:rgb(0, 0, 0);
    cursor:pointer;
    border-radius:5px;
}

button:hover{
    background-color:rgb(154, 34, 184);
}